<settings>
    <setting id="UseCustomBackground" type="bool">false</setting>
    <setting id="Use_Startup_Playlist" type="bool">false</setting>
    <setting id="HomeMenuNoMovieButton" type="bool">false</setting>
    <setting id="HomeMenuNoTVShowButton" type="bool">false</setting>
    <setting id="HomeMenuNoWeatherButton" type="bool">true</setting>
    <setting id="HideBackGroundFanart" type="bool">true</setting>
    <setting id="ShowBackgroundVideo" type="bool">false</setting>
    <setting id="ShowBackgroundVis" type="bool">false</setting>
    <setting id="HomepageHideRecentlyAddedVideo" type="bool">false</setting>
    <setting id="HomepageHideRecentlyAddedAlbums" type="bool">false</setting>
    <setting id="homepageWeatherinfo" type="bool">true</setting>
    <setting id="homepageMusicinfo" type="bool">false</setting>
    <setting id="homepageVideoinfo" type="bool">false</setting>
    <setting id="HomeMenuNoPicturesButton" type="bool">true</setting>
    <setting id="HomeMenuNoVideosButton" type="bool">false</setting>
    <setting id="HomeMenuNoMusicButton" type="bool">false</setting>
    <setting id="ActivateTvTunes" type="bool">false</setting>
    <setting id="HideVisualizationFanart" type="bool">true</setting>
    <setting id="ShowWeatherFanart" type="bool">false</setting>
    <setting id="WeatherScript_Enable" type="bool">false</setting>
    <setting id="Show_SlideShow_Paused" type="bool">false</setting>
    <setting id="PandoraVis" type="bool">false</setting>
    <setting id="WindowedTrailer" type="bool">false</setting>
    <setting id="HomeMenuNoProgramsButton" type="bool">true</setting>
    <setting id="AutoScroll" type="bool">true</setting>
    <setting id="FirstTimeRun" type="bool">true</setting>
    <setting id="HideFilenameFlagging" type="bool">false</setting>
    <setting id="View508HideInfo" type="bool">false</setting>
    <setting id="HideEPGwithRDS" type="bool">false</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">false</setting>
    <setting id="disablecontext:script.playrandomvideos" type="bool">false</setting>
    <setting id="HomeVideosButton4" type="string">plugin.video.ccloudtv</setting>
    <setting id="HomeVideosButton5" type="string">plugin.video.prosport</setting>
    <setting id="CustomBackgroundPath" type="string">special://home/media/SKINDEFAULT.jpg</setting>
    <setting id="HomeVideosButton2" type="string">plugin.video.salts</setting>
    <setting id="HomeVideosButton3" type="string">plugin.video.specto</setting>
    <setting id="HomeVideosButton1" type="string">plugin.video.kissanime</setting>
    <setting id="HomeMusicButton1" type="string">plugin.video.itunes_podcasts</setting>
    <setting id="HomeMusicButton2" type="string">plugin.audio.npr</setting>
    <setting id="HomeMusicButton3" type="string">plugin.audio.booksshouldbefree</setting>
    <setting id="HomeMusicButton4" type="string">plugin.audio.hongkongradio</setting>
    <setting id="HomeMusicButton5" type="string">plugin.audio.tuneinradio</setting>
    <setting id="HomePictureButton1" type="string">plugin.image.500px</setting>
    <setting id="HomePictureButton2" type="string">plugin.image.comicstrips</setting>
    <setting id="HomePictureButton3" type="string">plugin.image.flickr</setting>
    <setting id="HomePictureButton4" type="string">plugin.image.picasa</setting>
    <setting id="HomePictureButton5" type="string">script.tvguide</setting>
    <setting id="HomeProgramButton1" type="string">script.games.rom.collection.browser</setting>
    <setting id="HomeProgramButton2" type="string">plugin.program.addoninstaller</setting>
    <setting id="HomeProgramButton3" type="string">plugin.video.xbmchubmaintenance</setting>
    <setting id="HomeProgramButton4" type="string">plugin.video.hubwizard</setting>
    <setting id="HomeProgramButton5" type="string">plugin.program.xbmchub.notifications</setting>
    <setting id="Home_Custom_Back_TV_Folder" type="string"></setting>
    <setting id="LyricScript_Path" type="string"></setting>
    <setting id="WeatherFanartDir" type="string"></setting>
    <setting id="WeatherScript_Label" type="string"></setting>
    <setting id="Startup_Playlist_Path" type="string"></setting>
    <setting id="HomeProgramButton6" type="string">script.games.rom.collection.browser</setting>
</settings>
