<settings>
    <setting id="animeultima_tv" value="true" />
    <setting id="appearance" value="GOne" />
    <setting id="autoplay" value="false" />
    <setting id="autoplay_hd" value="false" />
    <setting id="autoplay_library" value="false" />
    <setting id="check_episode_link" value="false" />
    <setting id="check_library" value="true" />
    <setting id="check_movie_link" value="false" />
    <setting id="clickplay_tv" value="true" />
    <setting id="directdl_tv" value="true" />
    <setting id="downloads" value="" />
    <setting id="einthusan" value="true" />
    <setting id="fanart" value="true" />
    <setting id="furk" value="false" />
    <setting id="furk_password" value="" />
    <setting id="furk_tv" value="false" />
    <setting id="furk_user" value="" />
    <setting id="g2g" value="true" />
    <setting id="host1" value="Movreel" />
    <setting id="host10" value="Mrfile" />
    <setting id="host11" value="Vidbull" />
    <setting id="host12" value="Mightyupload" />
    <setting id="host13" value="VK" />
    <setting id="host14" value="Movshare" />
    <setting id="host15" value="Promptfile" />
    <setting id="host16" value="Vodlocker" />
    <setting id="host17" value="Played" />
    <setting id="host18" value="Gorillavid" />
    <setting id="host19" value="Bestreams" />
    <setting id="host2" value="Billionuploads" />
    <setting id="host20" value="Divxstage" />
    <setting id="host3" value="180upload" />
    <setting id="host4" value="Ororo" />
    <setting id="host5" value="Animeultima" />
    <setting id="host6" value="Streamin" />
    <setting id="host7" value="Grifthost" />
    <setting id="host8" value="iShared" />
    <setting id="host9" value="Cloudyvideos" />
    <setting id="host_select" value="1" />
    <setting id="hosthd1" value="VK" />
    <setting id="hosthd10" value="Billionuploads" />
    <setting id="hosthd11" value="V-vids" />
    <setting id="hosthd12" value="Vidbull" />
    <setting id="hosthd13" value="180upload" />
    <setting id="hosthd14" value="Hugefiles" />
    <setting id="hosthd15" value="Filecloud" />
    <setting id="hosthd16" value="Uploadrocket" />
    <setting id="hosthd17" value="Kingfiles" />
    <setting id="hosthd2" value="GVideo" />
    <setting id="hosthd3" value="Muchmovies" />
    <setting id="hosthd4" value="Sweflix" />
    <setting id="hosthd5" value="Videomega" />
    <setting id="hosthd6" value="Niter" />
    <setting id="hosthd7" value="YIFY" />
    <setting id="hosthd8" value="Einthusan" />
    <setting id="hosthd9" value="Movreel" />
    <setting id="icefilms" value="true" />
    <setting id="icefilms_tv" value="true" />
    <setting id="imdb_user" value="" />
    <setting id="iwatchonline" value="true" />
    <setting id="iwatchonline_tv" value="true" />
    <setting id="merdb" value="true" />
    <setting id="merdb_tv" value="true" />
    <setting id="movie25" value="true" />
    <setting id="movie_library" value="special://userdata/addon_data/plugin.video.genesis/Movies" />
    <setting id="movieshd" value="true" />
    <setting id="moviestorm" value="true" />
    <setting id="moviestorm_tv" value="true" />
    <setting id="movietube" value="true" />
    <setting id="movietube_tv" value="true" />
    <setting id="movietv" value="true" />
    <setting id="movietv_tv" value="true" />
    <setting id="moviezone" value="true" />
    <setting id="movreel_password" value="" />
    <setting id="movreel_user" value="" />
    <setting id="muchmovies" value="true" />
    <setting id="myvideolinks" value="true" />
    <setting id="niter" value="true" />
    <setting id="noobroom" value="false" />
    <setting id="noobroom_mail" value="" />
    <setting id="noobroom_password" value="" />
    <setting id="noobroom_tv" value="false" />
    <setting id="onlinemovies" value="true" />
    <setting id="ororo_tv" value="true" />
    <setting id="play_hd" value="true" />
    <setting id="playback_info" value="false" />
    <setting id="premiumize_password" value="" />
    <setting id="premiumize_user" value="" />
    <setting id="primewire" value="true" />
    <setting id="primewire_tv" value="true" />
    <setting id="realdedrid_password" value="" />
    <setting id="realdedrid_user" value="" />
    <setting id="resume_playback" value="true" />
    <setting id="root_calendar" value="0" />
    <setting id="root_episodes" value="1" />
    <setting id="root_episodes_trakt" value="2" />
    <setting id="root_movies" value="1" />
    <setting id="service_limit" value="false" />
    <setting id="service_notification" value="true" />
    <setting id="service_run" value="2015-07-04 06:27:15.681592" />
    <setting id="service_update" value="true" />
    <setting id="settings_version" value="3.4.0" />
    <setting id="sublang1" value="English" />
    <setting id="sublang2" value="English" />
    <setting id="subtitles" value="false" />
    <setting id="sweflix" value="true" />
    <setting id="trakt_password" value="" />
    <setting id="trakt_user" value="" />
    <setting id="tv_library" value="special://userdata/addon_data/plugin.video.genesis/TVShows" />
    <setting id="tvrelease_tv" value="true" />
    <setting id="twomovies" value="true" />
    <setting id="twomovies_tv" value="true" />
    <setting id="update_library" value="true" />
    <setting id="view47" value="true" />
    <setting id="vkbox" value="true" />
    <setting id="vkbox_tv" value="true" />
    <setting id="watched_library" value="true" />
    <setting id="watched_trakt" value="true" />
    <setting id="watchseries_tv" value="true" />
    <setting id="wso" value="true" />
    <setting id="wso_tv" value="true" />
    <setting id="yify" value="true" />
    <setting id="zumvo" value="true" />
</settings>
