<settings>
    <setting id="afdah" value="true" />
    <setting id="alluc" value="true" />
    <setting id="alluc_password" value="" />
    <setting id="alluc_tv" value="true" />
    <setting id="alluc_user" value="" />
    <setting id="animeultima_tv" value="true" />
    <setting id="appearance" value="GOne" />
    <setting id="autoconvert_utf8" value="false" />
    <setting id="autoplay" value="false" />
    <setting id="autoplay_hd" value="false" />
    <setting id="autoplay_library" value="false" />
    <setting id="beinmovie" value="true" />
    <setting id="calendar_widget" value="0" />
    <setting id="check_episode_link" value="false" />
    <setting id="check_library" value="true" />
    <setting id="check_movie_link" value="false" />
    <setting id="clickplay_tv" value="true" />
    <setting id="directdl_tv" value="true" />
    <setting id="dizibox_tv" value="true" />
    <setting id="dizigoldv2_tv" value="true" />
    <setting id="dizilab_tv" value="true" />
    <setting id="dizimag_tv" value="true" />
    <setting id="downloads" value="" />
    <setting id="easynews" value="false" />
    <setting id="easynews_password" value="" />
    <setting id="easynews_tv" value="false" />
    <setting id="easynews_user" value="" />
    <setting id="einthusan" value="true" />
    <setting id="fanart" value="true" />
    <setting id="filmikz" value="true" />
    <setting id="furk" value="false" />
    <setting id="furk_password" value="" />
    <setting id="furk_tv" value="false" />
    <setting id="furk_user" value="" />
    <setting id="g2g" value="true" />
    <setting id="host50001" value="Ororo" />
    <setting id="host50002" value="Animeultima" />
    <setting id="host50003" value="180upload" />
    <setting id="host50004" value="Mightyupload" />
    <setting id="host50005" value="Clicknupload" />
    <setting id="host50006" value="Tusfiles" />
    <setting id="host50007" value="Openload" />
    <setting id="host50008" value="Grifthost" />
    <setting id="host50009" value="Uptobox" />
    <setting id="host50010" value="Promptfile" />
    <setting id="host50011" value="Primeshare" />
    <setting id="host50012" value="iShared" />
    <setting id="host50013" value="Vidplay" />
    <setting id="host50014" value="Mrfile" />
    <setting id="host50015" value="V-vids" />
    <setting id="host50016" value="Ipithos" />
    <setting id="host50017" value="Zettahost" />
    <setting id="host50018" value="Uploadc" />
    <setting id="host50019" value="Zalaa" />
    <setting id="host50020" value="zStream" />
    <setting id="host_select" value="1" />
    <setting id="hosthd50001" value="GVideo" />
    <setting id="hosthd50002" value="VK" />
    <setting id="hosthd50003" value="Openload" />
    <setting id="hosthd50004" value="Filepup" />
    <setting id="hosthd50005" value="Videomega" />
    <setting id="hosthd50006" value="Muchmovies" />
    <setting id="hosthd50007" value="YIFY" />
    <setting id="hosthd50008" value="Einthusan" />
    <setting id="hosthd50009" value="180upload" />
    <setting id="hosthd50010" value="Mightyupload" />
    <setting id="hosthd50011" value="Clicknupload" />
    <setting id="hosthd50012" value="Tusfiles" />
    <setting id="hosthd50013" value="Grifthost" />
    <setting id="hosthd50014" value="Uptobox" />
    <setting id="hosthd50015" value="Primeshare" />
    <setting id="hosthd50016" value="iShared" />
    <setting id="hosthd50017" value="Vidplay" />
    <setting id="hosthd50018" value="V-vids" />
    <setting id="hosthd50019" value="Mrfile" />
    <setting id="hosthd50020" value="Uploadc" />
    <setting id="icefilms" value="true" />
    <setting id="icefilms_tv" value="true" />
    <setting id="imdb_user" value="" />
    <setting id="infoLang" value="en" />
    <setting id="iwatchonline" value="true" />
    <setting id="iwatchonline_tv" value="true" />
    <setting id="merdb" value="true" />
    <setting id="merdb_tv" value="true" />
    <setting id="movie25" value="true" />
    <setting id="movie_downloads" value="special://userdata/addon_data/plugin.video.genesis/Downloads/Movies" />
    <setting id="movie_library" value="special://userdata/addon_data/plugin.video.genesis/Movies" />
    <setting id="movie_widget" value="0" />
    <setting id="moviefarsiv2" value="true" />
    <setting id="moviefarsiv2_tv" value="true" />
    <setting id="movienight" value="true" />
    <setting id="movieshd" value="true" />
    <setting id="moviestorm" value="true" />
    <setting id="moviestorm_tv" value="true" />
    <setting id="movietube" value="true" />
    <setting id="movietube_tv" value="true" />
    <setting id="movietubev2" value="true" />
    <setting id="movietv" value="true" />
    <setting id="movietv_tv" value="true" />
    <setting id="moviezone" value="true" />
    <setting id="movreel_password" value="" />
    <setting id="movreel_user" value="" />
    <setting id="muchmovies" value="true" />
    <setting id="muchmoviesv2" value="true" />
    <setting id="muchmoviesv2_tv" value="true" />
    <setting id="mvsnap" value="true" />
    <setting id="mvsnap_tv" value="true" />
    <setting id="myvideolinks" value="true" />
    <setting id="niter" value="true" />
    <setting id="noobroom" value="false" />
    <setting id="noobroom_mail" value="" />
    <setting id="noobroom_password" value="" />
    <setting id="noobroom_tv" value="false" />
    <setting id="oneclickwatch" value="true" />
    <setting id="oneclickwatch_tv" value="true" />
    <setting id="onlinemovies" value="true" />
    <setting id="onlinemoviesv2" value="true" />
    <setting id="ororo_password" value="" />
    <setting id="ororo_tv" value="true" />
    <setting id="ororo_user" value="" />
    <setting id="play_hd" value="true" />
    <setting id="playback_1080p_hosts" value="true" />
    <setting id="playback_720p_hosts" value="true" />
    <setting id="playback_auto_sd" value="true" />
    <setting id="playback_captcha_hosts" value="true" />
    <setting id="playback_info" value="false" />
    <setting id="playback_quality" value="0" />
    <setting id="premiumize_password" value="" />
    <setting id="premiumize_user" value="" />
    <setting id="primewire" value="true" />
    <setting id="primewire_tv" value="true" />
    <setting id="pubfilm" value="true" />
    <setting id="realdedrid_password" value="" />
    <setting id="realdedrid_user" value="" />
    <setting id="resume_playback" value="true" />
    <setting id="root_calendar" value="0" />
    <setting id="root_episodes" value="1" />
    <setting id="root_episodes_trakt" value="2" />
    <setting id="root_movies" value="1" />
    <setting id="service_limit" value="false" />
    <setting id="service_notification" value="true" />
    <setting id="service_run" value="2015-07-04 06:27:15.681592" />
    <setting id="service_update" value="true" />
    <setting id="settings_version" value="3.4.0" />
    <setting id="sources_timeout_40" value="40" />
    <setting id="sublang1" value="English" />
    <setting id="sublang2" value="English" />
    <setting id="subtitles" value="false" />
    <setting id="sweflix" value="true" />
    <setting id="trakt_password" value="" />
    <setting id="trakt_user" value="" />
    <setting id="tunemovie" value="true" />
    <setting id="tunemovie_tv" value="true" />
    <setting id="tv_alt_widget" value="3" />
    <setting id="tv_downloads" value="special://userdata/addon_data/plugin.video.genesis/Downloads/TVShows" />
    <setting id="tv_library" value="special://userdata/addon_data/plugin.video.genesis/TVShows" />
    <setting id="tv_widget" value="0" />
    <setting id="tvrelease_tv" value="true" />
    <setting id="twomovies" value="true" />
    <setting id="twomovies_tv" value="true" />
    <setting id="update_library" value="true" />
    <setting id="vidics" value="true" />
    <setting id="vidics_tv" value="true" />
    <setting id="view47" value="true" />
    <setting id="vkbox" value="true" />
    <setting id="vkbox_tv" value="true" />
    <setting id="watched_library" value="true" />
    <setting id="watched_trakt" value="true" />
    <setting id="watchfree" value="true" />
    <setting id="watchfree_tv" value="true" />
    <setting id="watchseries_tv" value="true" />
    <setting id="wmonline" value="true" />
    <setting id="wso" value="true" />
    <setting id="wso_tv" value="true" />
    <setting id="wsonline_tv" value="true" />
    <setting id="xmovies" value="true" />
    <setting id="xmovies_tv" value="true" />
    <setting id="yify" value="true" />
    <setting id="yifystreamv2" value="true" />
    <setting id="yifystreamv2_tv" value="true" />
    <setting id="zumvo" value="true" />
</settings>
