<settings>
    <setting id="CMI_ChangeFanart" value="true" />
    <setting id="CMI_DownloadWallpaper" value="true" />
    <setting id="CMI_FindAirDates" value="false" />
    <setting id="CMI_JDownloader" value="true" />
    <setting id="CMI_JDownloaderResolver" value="true" />
    <setting id="CMI_RefreshMetaData" value="true" />
    <setting id="CMI_Search1Channel" value="false" />
    <setting id="CMI_SearchIceFilms" value="false" />
    <setting id="CMI_SearchKissAnime" value="true" />
    <setting id="CMI_SearchMerDBru" value="false" />
    <setting id="CMI_SearchPrimeWire" value="false" />
    <setting id="CMI_SearchSolarMovieso" value="false" />
    <setting id="CMI_ShowInfo" value="true" />
    <setting id="LastEpisodeListedETITLE" value="Wolfs Rain Episode 1" />
    <setting id="LastEpisodeListedEpNo" value="1" />
    <setting id="LastEpisodeListedEpNo2" value="1" />
    <setting id="LastEpisodeListedFANART" value="http://i.imgur.com/PcZjx2D.jpg" />
    <setting id="LastEpisodeListedIMDBID" value="" />
    <setting id="LastEpisodeListedIMG" value="http://www.animefate.com/images/wolfs-rain.jpg" />
    <setting id="LastEpisodeListedNAME" value="Wolfs Rain Episode 1" />
    <setting id="LastEpisodeListedSNo" value="1" />
    <setting id="LastEpisodeListedSTITLE" value="Wolf&apos;s Rain" />
    <setting id="LastEpisodeListedURL" value="http://www.animefate.com/wolfs-rain-episode-1/" />
    <setting id="LastShowListedFANART" value="http://i.imgur.com/PcZjx2D.jpg" />
    <setting id="LastShowListedIMDBID" value="" />
    <setting id="LastShowListedIMG" value="http://www.animefate.com/images/wolfs-rain.jpg" />
    <setting id="LastShowListedNAME" value="Wolf&apos;s Rain" />
    <setting id="LastShowListedURL" value="http://www.animefate.com/series/wolfs-rain/" />
    <setting id="anime-favorites-clear-enable" value="false" />
    <setting id="anime-view" value="515" />
    <setting id="auto-view" value="false" />
    <setting id="core-player" value="AUTO" />
    <setting id="debug-enable" value="false" />
    <setting id="debug-show" value="false" />
    <setting id="default-view" value="50" />
    <setting id="download_folder_anime" value="" />
    <setting id="download_folder_default" value="" />
    <setting id="download_folder_movies" value="" />
    <setting id="download_folder_tv" value="" />
    <setting id="download_folder_wallpapers" value="" />
    <setting id="download_method" value="Hidden" />
    <setting id="enableMeta" value="false" />
    <setting id="episode-view" value="515" />
    <setting id="fav.anime.1.name" value="" />
    <setting id="fav.anime.10.name" value="10" />
    <setting id="fav.anime.11.name" value="11" />
    <setting id="fav.anime.2.name" value="2" />
    <setting id="fav.anime.3.name" value="3" />
    <setting id="fav.anime.4.name" value="4" />
    <setting id="fav.anime.5.name" value="5" />
    <setting id="fav.anime.6.name" value="6" />
    <setting id="fav.anime.7.name" value="7" />
    <setting id="fav.anime.8.name" value="8" />
    <setting id="fav.anime.9.name" value="9" />
    <setting id="fav.live.1.name" value="" />
    <setting id="fav.live.10.name" value="10" />
    <setting id="fav.live.11.name" value="11" />
    <setting id="fav.live.2.name" value="2" />
    <setting id="fav.live.3.name" value="3" />
    <setting id="fav.live.4.name" value="4" />
    <setting id="fav.live.5.name" value="5" />
    <setting id="fav.live.6.name" value="6" />
    <setting id="fav.live.7.name" value="7" />
    <setting id="fav.live.8.name" value="8" />
    <setting id="fav.live.9.name" value="9" />
    <setting id="fav.movies.1.name" value="" />
    <setting id="fav.movies.10.name" value="10" />
    <setting id="fav.movies.11.name" value="11" />
    <setting id="fav.movies.2.name" value="2" />
    <setting id="fav.movies.3.name" value="3" />
    <setting id="fav.movies.4.name" value="4" />
    <setting id="fav.movies.5.name" value="5" />
    <setting id="fav.movies.6.name" value="6" />
    <setting id="fav.movies.7.name" value="7" />
    <setting id="fav.movies.8.name" value="8" />
    <setting id="fav.movies.9.name" value="9" />
    <setting id="fav.tv.1.name" value="" />
    <setting id="fav.tv.10.name" value="10" />
    <setting id="fav.tv.11.name" value="11" />
    <setting id="fav.tv.2.name" value="2" />
    <setting id="fav.tv.3.name" value="3" />
    <setting id="fav.tv.4.name" value="4" />
    <setting id="fav.tv.5.name" value="5" />
    <setting id="fav.tv.6.name" value="6" />
    <setting id="fav.tv.7.name" value="7" />
    <setting id="fav.tv.8.name" value="8" />
    <setting id="fav.tv.9.name" value="9" />
    <setting id="label-empty-favorites" value="false" />
    <setting id="links-view" value="50" />
    <setting id="linksmaxshown" value="9999" />
    <setting id="live-favorites-clear-enable" value="false" />
    <setting id="metadata_movies" value="true" />
    <setting id="metadata_tv" value="true" />
    <setting id="metadata_tv_ep_plot" value="true" />
    <setting id="metadata_tv_episodes" value="true" />
    <setting id="metadata_tv_shows" value="true" />
    <setting id="movies-favorites-clear-enable" value="false" />
    <setting id="movies-view" value="515" />
    <setting id="oldmenu" value="false" />
    <setting id="pages" value="1" />
    <setting id="season-view" value="50" />
    <setting id="tv-favorites-clear-enable" value="false" />
    <setting id="tv-zerolinks-show" value="true" />
    <setting id="tvshows-view" value="515" />
</settings>
