<settings>
    <setting id="auto_start" value="true" />
    <setting id="firstrun" value="false" />
    <setting id="format" value="2" />
    <setting id="last_station_id" value="2711064598105087170" />
    <setting id="logo" value="false" />
    <setting id="pandoraone" value="false" />
    <setting id="password" value="so123456" />
    <setting id="proxy_enable" value="false" />
    <setting id="proxy_pass" value="" />
    <setting id="proxy_port" value="" />
    <setting id="proxy_server" value="" />
    <setting id="proxy_user" value="" />
    <setting id="scrobble_hack" value="false" />
    <setting id="scrobble_hack_time" value="1" />
    <setting id="skin" value="Default" />
    <setting id="sort_stations" value="true" />
    <setting id="thumbnailArtwork" value="0" />
    <setting id="username" value="sodausiso@gmail.com" />
</settings>
