<settings>
    <setting id="AllDebridResolver_enabled" value="true" />
    <setting id="AllDebridResolver_login" value="false" />
    <setting id="AllDebridResolver_password" value="" />
    <setting id="AllDebridResolver_priority" value="100" />
    <setting id="AllDebridResolver_username" value="" />
    <setting id="AllmyvideosResolver_enabled" value="true" />
    <setting id="AllmyvideosResolver_priority" value="100" />
    <setting id="BestreamsResolver_enabled" value="true" />
    <setting id="BestreamsResolver_priority" value="100" />
    <setting id="CastampResolver_enabled" value="true" />
    <setting id="CastampResolver_priority" value="100" />
    <setting id="CloudyResolver_enabled" value="true" />
    <setting id="CloudyResolver_priority" value="100" />
    <setting id="CloudyvideosResolver_enabled" value="true" />
    <setting id="CloudyvideosResolver_priority" value="100" />
    <setting id="CyberlockerResolver_enabled" value="true" />
    <setting id="CyberlockerResolver_priority" value="100" />
    <setting id="DaclipsResolver_enabled" value="true" />
    <setting id="DaclipsResolver_priority" value="100" />
    <setting id="DailymotionResolver_enabled" value="true" />
    <setting id="DailymotionResolver_priority" value="100" />
    <setting id="DailymotionResolver_quality" value="0" />
    <setting id="DivxstageResolver_enabled" value="true" />
    <setting id="DivxstageResolver_priority" value="100" />
    <setting id="DonevideoResolver_enabled" value="true" />
    <setting id="DonevideoResolver_priority" value="100" />
    <setting id="EcostreamResolver_enabled" value="true" />
    <setting id="EcostreamResolver_priority" value="100" />
    <setting id="ExashareResolver_enabled" value="true" />
    <setting id="ExashareResolver_login" value="false" />
    <setting id="ExashareResolver_password" value="" />
    <setting id="ExashareResolver_priority" value="100" />
    <setting id="ExashareResolver_username" value="" />
    <setting id="FacebookResolver_enabled" value="true" />
    <setting id="FacebookResolver_priority" value="100" />
    <setting id="FacebookResolver_quality" value="0" />
    <setting id="FilenukeResolver_enabled" value="true" />
    <setting id="FilenukeResolver_priority" value="100" />
    <setting id="FlashxResolver_auto_pick" value="false" />
    <setting id="FlashxResolver_enabled" value="true" />
    <setting id="FlashxResolver_priority" value="100" />
    <setting id="GoogleResolver_auto_pick" value="false" />
    <setting id="GoogleResolver_enabled" value="true" />
    <setting id="GoogleResolver_priority" value="100" />
    <setting id="GorillavidResolver_enabled" value="true" />
    <setting id="GorillavidResolver_priority" value="100" />
    <setting id="HugefilesResolver_enabled" value="true" />
    <setting id="HugefilesResolver_priority" value="100" />
    <setting id="JumbofilesResolver_enabled" value="true" />
    <setting id="JumbofilesResolver_priority" value="100" />
    <setting id="Justmp4Resolver_enabled" value="true" />
    <setting id="Justmp4Resolver_priority" value="100" />
    <setting id="LetwatchResolver_enabled" value="true" />
    <setting id="LetwatchResolver_priority" value="100" />
    <setting id="LimevideoResolver_enabled" value="true" />
    <setting id="LimevideoResolver_priority" value="100" />
    <setting id="MP4StarResolver_enabled" value="true" />
    <setting id="MP4StarResolver_priority" value="100" />
    <setting id="MightyuploadResolver_enabled" value="true" />
    <setting id="MightyuploadResolver_priority" value="100" />
    <setting id="MovDivxResolver_enabled" value="true" />
    <setting id="MovDivxResolver_priority" value="100" />
    <setting id="MovpodResolver_enabled" value="true" />
    <setting id="MovpodResolver_priority" value="100" />
    <setting id="MovshareResolver_enabled" value="true" />
    <setting id="MovshareResolver_priority" value="100" />
    <setting id="MovzapZuzVideoResolver_enabled" value="true" />
    <setting id="MovzapZuzVideoResolver_priority" value="100" />
    <setting id="Mp4streamResolver_enabled" value="true" />
    <setting id="Mp4streamResolver_priority" value="100" />
    <setting id="Mp4uploadResolver_enabled" value="true" />
    <setting id="Mp4uploadResolver_priority" value="100" />
    <setting id="MuchshareResolver_enabled" value="true" />
    <setting id="MuchshareResolver_priority" value="100" />
    <setting id="NosvideoResolver_enabled" value="true" />
    <setting id="NosvideoResolver_priority" value="100" />
    <setting id="NovamovResolver_enabled" value="true" />
    <setting id="NovamovResolver_priority" value="100" />
    <setting id="NowvideoResolver_enabled" value="true" />
    <setting id="NowvideoResolver_priority" value="100" />
    <setting id="OneeightyuploadResolver_enabled" value="true" />
    <setting id="OneeightyuploadResolver_priority" value="100" />
    <setting id="PlaywireResolver_enabled" value="true" />
    <setting id="PlaywireResolver_priority" value="100" />
    <setting id="PremiumizeMeResolver_enabled" value="true" />
    <setting id="PremiumizeMeResolver_login" value="false" />
    <setting id="PremiumizeMeResolver_password" value="" />
    <setting id="PremiumizeMeResolver_priority" value="100" />
    <setting id="PremiumizeMeResolver_username" value="" />
    <setting id="PrimeshareResolver_enabled" value="true" />
    <setting id="PrimeshareResolver_priority" value="100" />
    <setting id="PromptfileResolver_enabled" value="true" />
    <setting id="PromptfileResolver_priority" value="100" />
    <setting id="PutlockerResolver_enabled" value="true" />
    <setting id="PutlockerResolver_login" value="false" />
    <setting id="PutlockerResolver_notify" value="false" />
    <setting id="PutlockerResolver_password" value="" />
    <setting id="PutlockerResolver_priority" value="100" />
    <setting id="PutlockerResolver_quality" value="0" />
    <setting id="PutlockerResolver_username" value="" />
    <setting id="RPnetResolver_enabled" value="true" />
    <setting id="RPnetResolver_login" value="false" />
    <setting id="RPnetResolver_password" value="" />
    <setting id="RPnetResolver_priority" value="100" />
    <setting id="RPnetResolver_username" value="" />
    <setting id="RapidvideoResolver_enabled" value="true" />
    <setting id="RapidvideoResolver_priority" value="100" />
    <setting id="RealDebridResolver_enabled" value="true" />
    <setting id="RealDebridResolver_login" value="false" />
    <setting id="RealDebridResolver_password" value="" />
    <setting id="RealDebridResolver_priority" value="100" />
    <setting id="RealDebridResolver_username" value="" />
    <setting id="RealvidResolver_enabled" value="true" />
    <setting id="RealvidResolver_priority" value="100" />
    <setting id="RoyalvidsResolver_enabled" value="true" />
    <setting id="RoyalvidsResolver_priority" value="100" />
    <setting id="SharedsxResolver_enabled" value="true" />
    <setting id="SharedsxResolver_priority" value="100" />
    <setting id="SharerepoResolver_enabled" value="true" />
    <setting id="SharerepoResolver_priority" value="100" />
    <setting id="SharesixResolver_enabled" value="true" />
    <setting id="SharesixResolver_priority" value="100" />
    <setting id="SpeedVideoResolver_enabled" value="true" />
    <setting id="SpeedVideoResolver_priority" value="100" />
    <setting id="StagevuResolver_enabled" value="true" />
    <setting id="StagevuResolver_priority" value="100" />
    <setting id="StreamcloudResolver_enabled" value="true" />
    <setting id="StreamcloudResolver_priority" value="100" />
    <setting id="TeramixerResolver_enabled" value="true" />
    <setting id="TeramixerResolver_priority" value="100" />
    <setting id="TheFileResolver_enabled" value="true" />
    <setting id="TheFileResolver_priority" value="100" />
    <setting id="TheVideoResolver_enabled" value="true" />
    <setting id="TheVideoResolver_priority" value="100" />
    <setting id="TunePkResolver_enabled" value="true" />
    <setting id="TunePkResolver_priority" value="100" />
    <setting id="TunePkResolver_quality" value="0" />
    <setting id="UploadcResolver_enabled" value="true" />
    <setting id="UploadcResolver_priority" value="100" />
    <setting id="VKResolver_auto_pick" value="false" />
    <setting id="VKResolver_enabled" value="true" />
    <setting id="VKResolver_priority" value="100" />
    <setting id="VeohResolver_enabled" value="true" />
    <setting id="VeohResolver_priority" value="100" />
    <setting id="VidSpotResolver_enabled" value="true" />
    <setting id="VidSpotResolver_priority" value="100" />
    <setting id="VidbullResolver_enabled" value="true" />
    <setting id="VidbullResolver_priority" value="100" />
    <setting id="VideoHutResolver_enabled" value="true" />
    <setting id="VideoHutResolver_priority" value="100" />
    <setting id="VideoTTResolver_enabled" value="true" />
    <setting id="VideoTTResolver_priority" value="100" />
    <setting id="VideoTTResolver_quality" value="2" />
    <setting id="VideoTankerResolver_enabled" value="true" />
    <setting id="VideoTankerResolver_priority" value="100" />
    <setting id="VideoTankerResolver_quality" value="1" />
    <setting id="VideobbResolver_enabled" value="true" />
    <setting id="VideobbResolver_priority" value="100" />
    <setting id="VideobbResolver_q" value="2" />
    <setting id="VideomegaResolver_enabled" value="true" />
    <setting id="VideomegaResolver_priority" value="100" />
    <setting id="VideorajResolver_enabled" value="true" />
    <setting id="VideorajResolver_priority" value="100" />
    <setting id="VideoweedResolver_enabled" value="true" />
    <setting id="VideoweedResolver_priority" value="100" />
    <setting id="VideozedResolver_enabled" value="true" />
    <setting id="VideozedResolver_priority" value="100" />
    <setting id="VidplayResolver_enabled" value="true" />
    <setting id="VidplayResolver_priority" value="100" />
    <setting id="VidstreamResolver_enabled" value="true" />
    <setting id="VidstreamResolver_priority" value="100" />
    <setting id="VidxdenResolver_enabled" value="true" />
    <setting id="VidxdenResolver_priority" value="100" />
    <setting id="VimeoResolver_enabled" value="true" />
    <setting id="VimeoResolver_priority" value="100" />
    <setting id="VodlockerResolver_enabled" value="true" />
    <setting id="VodlockerResolver_priority" value="100" />
    <setting id="VshareResolver_enabled" value="true" />
    <setting id="VshareResolver_priority" value="100" />
    <setting id="XvidstageResolver_enabled" value="true" />
    <setting id="XvidstageResolver_priority" value="100" />
    <setting id="YoutubeResolver_enabled" value="true" />
    <setting id="YoutubeResolver_priority" value="100" />
    <setting id="YouwatchResolver_enabled" value="true" />
    <setting id="YouwatchResolver_login" value="false" />
    <setting id="YouwatchResolver_password" value="" />
    <setting id="YouwatchResolver_priority" value="100" />
    <setting id="YouwatchResolver_username" value="" />
    <setting id="ZalaaResolver_enabled" value="true" />
    <setting id="ZalaaResolver_priority" value="100" />
    <setting id="addon_version" value="2.9.4" />
    <setting id="allow_universal" value="true" />
    <setting id="bayfilesResolver_enabled" value="true" />
    <setting id="bayfilesResolver_priority" value="100" />
    <setting id="billionuploads_enabled" value="true" />
    <setting id="billionuploads_priority" value="100" />
    <setting id="crunchyrollResolver_enabled" value="true" />
    <setting id="crunchyrollResolver_priority" value="100" />
    <setting id="hostingbulkResolver_enabled" value="true" />
    <setting id="hostingbulkResolver_priority" value="100" />
    <setting id="movreelResolver_enabled" value="true" />
    <setting id="movreelResolver_login" value="false" />
    <setting id="movreelResolver_password" value="" />
    <setting id="movreelResolver_priority" value="100" />
    <setting id="movreelResolver_username" value="" />
    <setting id="mrfileResolver_enabled" value="true" />
    <setting id="mrfileResolver_priority" value="100" />
    <setting id="playedResolver_enabled" value="true" />
    <setting id="playedResolver_priority" value="100" />
    <setting id="purevid_enabled" value="true" />
    <setting id="purevid_login" value="false" />
    <setting id="purevid_password" value="" />
    <setting id="purevid_priority" value="100" />
    <setting id="purevid_quality" value="0" />
    <setting id="purevid_username" value="" />
    <setting id="sockshareResolver_enabled" value="true" />
    <setting id="sockshareResolver_login" value="false" />
    <setting id="sockshareResolver_notify" value="false" />
    <setting id="sockshareResolver_password" value="" />
    <setting id="sockshareResolver_priority" value="100" />
    <setting id="sockshareResolver_quality" value="0" />
    <setting id="sockshareResolver_username" value="" />
    <setting id="streamintoResolver_enabled" value="true" />
    <setting id="streamintoResolver_priority" value="100" />
    <setting id="veeHDResolver_enabled" value="true" />
    <setting id="veeHDResolver_login" value="false" />
    <setting id="veeHDResolver_password" value="" />
    <setting id="veeHDResolver_priority" value="100" />
    <setting id="veeHDResolver_username" value="" />
    <setting id="vidto_enabled" value="true" />
    <setting id="vidto_priority" value="100" />
    <setting id="watchfreeResolver_enabled" value="true" />
    <setting id="watchfreeResolver_priority" value="100" />
</settings>
