<settings>
    <setting id="123movies" value="true" />
    <setting id="123movies_base_url" value="http://123movies.to/" />
    <setting id="9movies" value="true" />
    <setting id="9movies_base_url" value="http://9movies.to" />
    <setting id="Movies_fav_slug" value="" />
    <setting id="Movies_sub_slug" value="" />
    <setting id="TV_fav_slug" value="" />
    <setting id="TV_sub_slug" value="" />
    <setting id="afdah" value="false" />
    <setting id="afdah_base_url" value="http://afdah.tv/" />
    <setting id="auto-view" value="true" />
    <setting id="cache_limit" value="5" />
    <setting id="cache_set" value="true" />
    <setting id="debug" value="false" />
    <setting id="download_folder" value="" />
    <setting id="episode-view" value="515" />
    <setting id="error_notify" value="false" />
    <setting id="filter_debrid" value="false" />
    <setting id="flush_url_cache" value="" />
    <setting id="get_pin" value="" />
    <setting id="ice_films" value="true" />
    <setting id="icefilms_base_url" value="http://www.icefilms.info" />
    <setting id="list_size" value="20" />
    <setting id="menu-view" value="500" />
    <setting id="merdb" value="true" />
    <setting id="merdb_base_url" value="http://www.merdb.link/" />
    <setting id="movies-view" value="515" />
    <setting id="mute_notifications" value="true" />
    <setting id="primewire" value="true" />
    <setting id="primewire_base_url" value="http://www.primewire.ag/" />
    <setting id="putlocker" value="true" />
    <setting id="putlocker_base_url" value="http://putlocker.is" />
    <setting id="reload_watched_cache" value="" />
    <setting id="santa_tv" value="true" />
    <setting id="santatv_base_url" value="http://www.santaseries.com" />
    <setting id="scraper_timeout" value="10" />
    <setting id="season-view" value="500" />
    <setting id="show_debrid" value="true" />
    <setting id="timeout" value="10" />
    <setting id="trakt_authorized" value="false" />
    <setting id="trakt_oauth_token" value="" />
    <setting id="trakt_refresh_token" value="" />
    <setting id="trakt_username" value="" />
    <setting id="tvshows-view" value="515" />
    <setting id="use_https" value="false" />
    <setting id="zmovies" value="true" />
    <setting id="zmovies_base_url" value="http://www.zmovie.tw/" />
</settings>
